<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
       #ex1{
        border:1px solid;
        padding:10px;
        box-shadow:5px 10px 8px #888888;
        background-color:Tomato;
       }

        </style>
    </head>

    <body>


<div class="container">
       <header style="text-align:center; "> <h1><b>Send email to customer using django<b> </h1> </header>
       
       <div style="text-align:center;" id="ex1">
    
        <h2>Contact Client </h2>
        <form method="POST" action="{% url 'index' %}"> 
        {% csrf_token %}    
      
        <input type="text" name="name" placeholder="title of the email" required><br><br>
        
        <input type="email" name="email" placeholder="Company Email Address" required><br><br>
        
        <textarea type="message" name="message" style="width: 569px; height: 109px;" placeholder="Message to be delivered" required></textarea>
        <br><br>

        <button class="btn btn-primary mt-2" type="submit" > Send</button>
        <br><br>     
     
        </form>

    </div>
</div>
        <script src="" async defer></script>
    </body>
</html>